@model MyMVCApp.Models.EmployeeModel

@{
    ViewBag.Title = "Employee";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Employee</h2>

<div>
    <h4>EmployeeModel</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EmployeeName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmplyeeMailID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmplyeeMailID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EmployeeAge)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EmployeeAge)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Employees")
</p>
